@import "tailwindcss";

@theme {
  --color-primary: #1a202c;
  --color-secondary: #2d3748;
  --color-accent: #e53e3e;
  --color-textlight: #edf2f7;
  --color-textdark: #a0aec0;
  --color-buttonbg: #3b82f6;
  --color-buttonhover: #2563eb;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;

  --font-sans: "Inter", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: "Roboto Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
